#about {    
    display: flex;        
    column-gap: 8.125rem;  
}
.about__content {        
    position: relative;
    text-transform: uppercase;
    font-size: 1.25rem;    
    p {
        margin-block: 2rem;
        font-weight: 300;
    }
    a {
        position: relative;        
        font-size: .8rem;
        &::after {            
            top: -7px;
            left: 25%;            
        }
    }    
    &::after {           
        bottom: 3.8rem;
        right: 11%;        
    }
}