#about {
    height: 100vh;
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
    h2 {
        font: var(--subtitle);
        position: relative;
        left: -330px;
        &::after {
            content: "";
            width: 80px;
            height: 1px;
            background: var(--color-primary);
            position: absolute;
            bottom: 10px;
            left: 0;
        }
    }
}
.about__content {        
    position: relative;
    margin: 70px 0 0 350px;
    text-transform: uppercase;
    h3 {
        font: var(--subtitle);
    }
    p {
        font-size: 24px;
    }
    a {
        font-size: 20px;
        position: relative;        
        &::after {            
            content: "";
            background: url('/imgs/icons/rectangle.svg') no-repeat;
            background-size: cover;
            width: 42.97px;
            height: 33.09px;
            position: absolute;            
            top: 0px;
            left: 35%;
            z-index: -1;
        }
    }
    &::before {
        position: absolute;
        z-index: -1;
        top: 50%;
        left: -30%;
        transform: translateY(-50%);
        content: "";
        background: url('/imgs/icons/g.svg') no-repeat;
        background-size: contain;
        width: 200px;
        height: 300px;
    }
    &::after {   
        content: "";
        background: url('/imgs/icons/rectangle.svg') no-repeat;
        background-size: cover;
        width: 42.97px;
        height: 33.09px;
        position: absolute;            
        bottom: 32px;
        right: 10%;
        z-index: -1;
    }
}