#banner {        
    overflow: hidden;
    position: relative;
    display: flex;    
    height: 100vh;
    h2 {
        font: var(--emphasis);
        margin-left: 21.875rem;
        position: relative;
        span {
            color: var(--color-highlight);
        }
        &::after {
            content: "";
            background: url('/imgs/icons/g.svg') no-repeat;
            background-size: contain;
            height: 12.625rem;
            width: 12.625rem; 
            position: absolute;           
            top: .625rem;
            left: -3.75rem;    
            z-index: -1;        
        }
    }
}
.strap {            
    padding-block: .9375rem;
    position: absolute;
    overflow: hidden;    
    & p {
        text-transform: uppercase;
        white-space: nowrap;
    }
}
.strap1 {
    width: 62.5rem;
    background: var(--range-1);    
    top: 40%;
    right: -19%;    
    transform: rotate(41deg);
    & p {
        color: var(--range-2);
    }  
}
.strap2 {    
    width: 96.875rem;
    background: var(--range-2);    
    bottom: 25%;
    left: -2%;
    transform: rotate(-10deg);
    & p {
        color: var(--range-1);
    }  
}
.strap__content {    
    display: flex;    
    gap: 5rem;        
    animation: scroll 20s linear infinite;
    p {
        display: flex;
        align-items: center;
        gap: 5rem;       
        span {
            display: inline-block;
            width: 1rem;
            height: 1.0625rem;
            border-radius: 50%;
            background: var(--color-emphasis);
        }
    }    
}
@keyframes scroll {
    0% {
        transform: translate(0);
    }
    100%{
        transform: translate(-50%);
    }
}
@media screen and (max-width: 480px) {
    #banner {
        height: 40vh;
        padding: 5rem 1rem 0;
        flex-direction: column;         
        h2 {
            margin-inline: 1rem;
            &::after  {
                top: -2rem;
                left: 9rem;                
            }
        }
    }
    .strap1 {
        display: none;
    }
    .strap2 {        
        left: -5%;
        bottom: 40%;
    }
}