#portfolio {        
    display: flex;        
    position: relative;             
    column-gap: 4.125rem;     
    .subtitle {
        h2 {
            &::after {
                left: .125rem;
            }
        }
        span {
            height: 18.375rem;
            width: 12.625rem;         
            &::after {
                background: url('/imgs/icons/p.svg') no-repeat;
                background-size: cover;
            }
        }
    }  
}
.portfolio__projects {
    display: flex;    
    gap: 2rem;    
    margin-top: 11rem;
    figure {        
        img {
            width: 15.625rem;
            height: 11.25rem;
            border-radius: 1.25rem;
        }
        figcaption {
            text-align: center;
            span {
                display: inline-block;
                position: relative;
                &::after {
                    content: "";
                    width: .3125rem;
                    height: .3125rem;
                    background: var(--color-emphasis);
                    border-radius: 50%;
                    position: absolute;
                    top: .625rem;
                    left: -.625rem;
                }
            }
        }
    }
}