#services {   
    position: relative;     
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
        font: var(--subtitle);
        position: relative;    
        left: 13%;
        top: -10%;
        width: max-content;        
        &::after {
            content: "";
            width: 80px;
            height: 1px;
            background: var(--color-primary);
            position: absolute;
            bottom: 10px;
            left: 0;
        }
    }
    &::after {
        content: "";
        background: url('/imgs/icons/theCre8tive.svg') no-repeat;
        background-size: contain;
        height: 80px;
        width: 800px;
        position: absolute;
        bottom: 2%;
        left: 40px;
    }
}
.services__container {
    display: flex;
    gap: 32px;
    position: relative; 
    margin-left: 400px;
    &::before {
        position: absolute;
        z-index: -1;
        top: 50%;
        left: -25%;
        transform: translateY(-50%);
        content: "";
        background: url('/imgs/icons/s.svg') no-repeat;
        background-size: contain;
        width: 200px;
        height: 260px;
    }
}
.services__content {    
    width: 250px;
    p {
        font-size: 12px;
        margin-block: 16px;
    }
}
.brand {
    position: relative;
    &::after {   
        content: "";
        background: url('/imgs/icons/rectangle.svg') no-repeat;
        background-size: cover;
        width: 42.97px;
        height: 33.09px;
        position: absolute;            
        bottom: -6px;
        left: 30%;
        z-index: -1;
    }
}