#services {   
    position: relative;         
    display: flex;
    column-gap: 4.125rem;        
    .subtitle {
        h2 {
            &::after {
                left: .425rem;
            }
        }
        span {
            height: 16.375rem;
            width: 12.3125rem;         
            &::after {
                background: url('/imgs/icons/s.svg') no-repeat;
            }
        }
    }    
}
.services__container {
    display: flex;
    gap: 2rem;
    position: relative;                 
    margin-top: 11.25rem;
}
.services__content {    
    width: 15.625rem;
    p {
        font-size: .75rem;
        margin-block: 1rem;
    }
}
.brand {
    position: relative;
    &::after {   
        content: "";
        background: url('/imgs/icons/rectangle.svg') no-repeat;
        background-size: cover;
        width: 2.685625rem;
        height: 2.068125rem;
        position: absolute;            
        bottom: -.375rem;
        left: 30%;
        z-index: -1;
    }
}
@media screen and (max-width: 480px) {
    #services {
        flex-direction: column;            
    }
    .services__container {
        flex-direction: column;
        margin-top: 0;
    }
    .services__content {
        width: 17rem;
        p {
            margin-block: .5rem;
        }
    }
}