@import url('./reset.css');

:root {
    --bg-color: #000000;
    --color-primary: #FFFFFF;
    --color-secondary: #CBCBCB;
    --color-highlight: #6F6F6F;
    --color-emphasis: #FF7E21;
    --stroke-initials: #363636;
    --range-1: #FFFFFF;
    --range-2: #212121;
    --font-family-primary: "Poppins", sans-serif;
    --font-family-secondary: "Roboto", sans-serif;
    --font-default: 400 1rem var(--font-family-primary);
    --emphasis: 400 5.625rem/170% var(--font-family-primary);
    --subtitle: 400 2.5rem/190% var(--font-family-primary);
}
body {
    background: var(--bg-color);
    color: var(--color-primary);        
    font: var(--font-default);
    & a {
        text-decoration: none;
        color: var(--color-primary);
    }    
}